@import url(https://fonts.googleapis.com/css?family=Exo|Vollkorn+SC:400,700);



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #f2ecd2;
	font-size: 16px;
	position: relative;
	font-family: 'Vollkorn SC', serif;

}
p{
	font-family: 'Exo', sans-serif;
	line-height: 1.5em;
	padding-bottom: 20px;
	}
h2{
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Vollkorn SC', serif;
}
h3{
	font-family: 'Vollkorn SC', serif;
	padding-bottom: 10px;
}
h4{
	padding-bottom: 20px;
}
nav{
	text-align: center;
	margin-top: 42px;
}
nav a:link{
	font-family: 'Vollkorn SC', serif;
	color: black;
	font-size: 0.88em;
	margin: 0 32px;
	padding-bottom: 5px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	opacity: 0.5;
}
nav a:visited{
	color: black;
}
nav a:hover{
		opacity: 1;
}
a{
	text-decoration: none;
}
header{
	padding: 0 200px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	position: relative;
  	text-align: center;
  	color: white;
  }
 header img{
 	width: 65%;
 	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	opacity: 0.8;
 }
 img{
 	width: 100%;
 }
#pin{
 	width: 2%;
 	position: absolute;
  	top: 4.94em;
  	left: 44em;
 }
header p{
 	position: absolute;
  	top: 67px;
    left: 728px;
    font-size: 10px;
    font-style: italic;
    font-variant: initial;
 }
 header h1 {
	  font-variant: small-caps;
	  letter-spacing: 2.5px;	
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
}
ul{
	margin-left: 50px;
}
#two_column {
    padding: 20px;
    background: #E5F1FF;
}

#aboutme {
	margin-left: 100px;
    padding: 20px;
    float: left;
    width: 48%;
}

aside {
    padding-right: 43px;
    margin-bottom: -28px;
    margin-top: 20px;
    float: right;
    width: 30%;
    opacity: 0.9;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
footer{
	background: black;
	color: white;
	text-align: center;
	padding-top: 25px;
}
#resume{
	font-variant: small-caps;
    letter-spacing: 2px;
    color: black;
    padding-left: 129px;
    float: left;
    width: 50%;
}
#resume p{
	font-size: 1em;
	font-variant: initial;
	width: 35em;
	letter-spacing: 1px;
	line-height: 29px;
	}
article{
	text-align: center;
	position: relative;
  	text-align: center;
  	color: white;
	}
#work img{
	
   width: 60%;
  /*-webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .5s ease-in-out;*/

	}
/*#work img:hover{
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
}*/
#work h3{
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
#space_resume{
	padding: 41px;
	float:right;
	width: 41%;
}
