@import url(https://fonts.googleapis.com/css?family=Exo|Vollkorn+SC:400,700);



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #f2ecd2;
	font-size: 16px;
	position: relative;
	font-family: 'Vollkorn SC', serif;

}
p{
	padding-bottom: 1em;
	font-variant: initial;
    width: 87.8148%;
    letter-spacing: 0px;
    line-height: 27px;
    font-weight: 300;
    font-family: sans-serif;
    text-transform: initial;
    width: 80%;
	}
h2{
	padding-top: 1em;
	padding-bottom: 1em;
	font-family: 'Vollkorn SC', serif;
}
h3{
	font-family: 'Vollkorn SC', serif;
	padding-bottom: .5em;
}
h4{
	padding-bottom: 1em;
}
nav{
	text-align: center;
	margin: 3em 0 1em 0;
}
nav a:link{
	font-family: 'Vollkorn SC', serif;
	color: black;
	font-size: 0.88em;
	margin: 0 2.5%;
	padding-bottom: .25em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	opacity: 0.5;
}
nav a:visited{
	color: black;
}
nav a:hover{
	opacity: 1;
}
a{
	text-decoration: none;
}
header{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	position: relative;
  	text-align: center;
  	color: white;
  }
 header img{
 	width: 50%;
 	display: inline;
  	margin-left: auto;
  	margin-right: auto;
  	opacity: 0.8;
  	position: relative;
 }
 img{
 	width: 100%;
 }
header p{
 	position: absolute;
 	padding: 0;
  	top: 6%;
    left: 14%;
    font-size: 0.6em;
    font-style: italic;
    font-variant: initial;
 }
 header h1 {
	  font-variant: small-caps;
	  letter-spacing: 2.5px;	
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
}
ul{
	margin-left: 8%;
}
aside {
    padding-right: 2.15em;
    margin-bottom: -1.75%;
    margin-top: 2%;
    float: right;
    width: 30%;
    opacity: 0.99;
}
article{
	text-align: center;
	position: relative;
  	text-align: center;
  	color: white;
	}
#pin{
 	max-width: 2%;
 	position: absolute;
  	top: 7%;
  	left: 50%;
 }
#two_column {
    padding: 1em;
    background: #E5F1FF;
}
#two_column h2{
	font-size: 14em;
    opacity: 0.55;
    z-index: 1;
    margin-bottom: -11%;
    margin-left: 7%;
    padding: 0;
}
#two_column_resume h2{
	font-size: 19em;
    z-index: 1;
    margin-left: 7%;
    opacity: 0.55;
    margin-bottom: -15%;
    margin-top: -13%;
    padding: 0;
}
#aboutme {
	margin-left: 7%;
    padding: 1em;
    float: left;
    width: 48%;
    margin-top: 8%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#contact{
	background: #252525;
	color: white;
	text-align: center;
	padding-top: 1.25em;
}
#contact img{
	width: 2.5%;
	margin: 0.5em;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
#contact img:hover {
	-webkit-filter: invert(100%);
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}
#resume{
	font-variant: small-caps;
    letter-spacing: 2px;
    color: black;
    padding-left: 8%;
    float: left;
    width: 53%;
    margin-top: 12%;
}
#work h2{
	opacity: 0.55;   
	font-size: 19em;
    margin-left: 7%;
    padding: 0;
    z-index: 1;
    margin-top: -4%;
}
#space_resume{
	padding: 2.05em;
	float:right;
	width: 47%;
}
/*.wrapper{
	max-width: 1920px;
}*/
#examples{
	margin-left: 5em;
	margin-bottom: 29em;
}
#lightbox {
  display: flex;
  flex-direction: column-reverse;    
}
/*Time to apply widths for accordian to work
Width of image = 640px
total images = 5
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*4 = 800px;
default width = 800/5 = 160px;
*/

.accordian {
	width: 58%; /*height: 400px;*/
	overflow: hidden;

	/*Time for some styling*/
margin: -9.4% 20% 7%;
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 100%;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 24%;
	float: left;
	background: #484641;
	border-left: 1px solid #888;

	
	/*Transitions to give animation effect*/
	transition: all 0.9s;
	-webkit-transition: all 0.9s;
	-moz-transition: all 0.9s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

.accordian ul:hover li {width: 40px;}

.accordian ul li:hover {width: 640px;}


.accordian li img {
	opacity: 0.8;
	display: block;
	width: inherit;
	-webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .5s ease-in-out;
    -webkit-filter: contrast(130%) brightness(125%) sepia(30%) grayscale(100%);
	filter: contrast(130%) brightness(125%) sepia(30%) grayscale(100%);
}
.accordian li img:hover{
	-webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
}
.accordian a{
	display: block;
	color: white;
}
.accordian div{
	left: 0; bottom: 0;	
	width: 640px;
	padding: 7px 30px;	
}
#contact p a{
	color: white;
}
#contact p{
		margin: auto auto;

}

@media only screen and (max-width: 1284px) {
	header h1{
		font-size: 1.8em;	
	}
	.accordian{
		margin: margin: -10.6% 20% 7%;;
	}
	#two_column h2{
		font-size: 12em;
	}
	#two_column_resume h2{
		font-size: 16em;
	}
	#resume{
		margin-top: 10%;
	}
	#work h2{
		font-size: 17em;
	}
}
@media only screen and (max-width: 1125px) {
	header p{
		left: 14.5%;
	}
	header h1{
		font-size: 1.5em;	
	}
	#two_column{
		padding: 0.55em;
	}
	#two_column h2{
		font-size: 11em;
	}
	#aboutme{
		margin-left: 10%;
		margin-top: 5%;

	}
	#two_column_resume h2{
		font-size: 14em;
		padding: 0em;
	}
	#resume{
		margin-top: 10%;
		margin-bottom: 5%;
		font-size: 14px;
	}
	#work h2{
		font-size: 14em;
	}
	#space_resume{
		margin: 0;
	padding: 3em 0.05em 3em 0em;	
}
}